<div class="container__big-card">
    
    <div class="big-card__photo">
        <img src="placehold-1280x720.webp" alt="">
    </div>

    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>

    <div class="big-card__description">
        <p>
            <a href="#">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint odit debitis possimus, aliquam voluptates repudiandae adipisci nobis magnam repellat totam consequuntur cupiditate? Quasi et deserunt tempora fugiat autem nemo molestiae!
            </a>
        </p>
    </div>
</div>