<app-menu-bar></app-menu-bar>
<app-menu-title></app-menu-title>
<div class="articles">
    <div class="articles__main">
        <app-big-card 
        photoCover="quarteto-fantastico.jpg"
        cardTitle="Quarteto Fantástico 2025: Marvel Revela Detalhes e Elenco Estelar"
        cardDescription="Marvel confirma data e elenco do aguardado Quarteto Fantástico de 2025. Filme promete revolucionar o MCU e apresentar nova visão dos heróis mais icônicos da editora."></app-big-card>
    </div>

    <div class="articles__others">
        <app-small-card photoCover="mei.jpg" cardTitle="Número de MEIs que ultrapassam limite de faturamento cresce 30 vezes"></app-small-card>
        <app-small-card photoCover="cemig.png" cardTitle="Projeto de federalização da Cemig é analisado na Assembleia de Minas"></app-small-card>
        <app-small-card photoCover="bb.webp" cardTitle="Banco do Brasil (BBAS3) em queda livre: 5 argumentos para comprar a ação em 2025"></app-small-card>
    </div>
</div>