.articles{
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: auto;
    gap: 20px;
}

.articles__main{
    width: 620px;
    height: auto;
}

.articles__others{
    width: 620px;
}