.container__menu-bar{
    width: 1280px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    height: 20px;
}

.container__menu-bar ul{
    display: flex;
    gap: 20px;
}

.container__menu-bar ul li{
    list-style: none;
}

.container__menu-bar ul li a:hover{
    text-decoration: underline;  
}